$_eucalyptus: #289f5f;
$_green-pea: #19623b;
$_baltic-sea: #282729;
$_cod-gray: #181818;
$-charcoal: #474545;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #fafafa;
$_gallery: #ececec;
$_alternative: rgb(74, 179, 220);
$_yellow: rgb(216, 209, 5);

$_dark_50: #e6e6e6;
$_dark-100: #c2c2c2;
$_dark-200: #9e9e9e;
$_dark-300: #6e6e6e;
$_dark-400: #3d3d3d;
$_dark-500: #0c0c0c;
$_dark-600: #0a0a0a;
$_dark-700: #080808;
$_dark-800: #050505;
$_dark-900: #030303;

$_red_50: #ffc2c2;
$_red-100: #ff8585;
$_red-200: #ff4747;
$_red-300: #ff0a0a;
$_red-400: #ff1a1a;
$_red-500: #cc0000;
$_red-600: #a30000;
$_red-700: #7a0000;
$_red-800: #520000;
$_red-900: #290000;

$_bg-card-dark: #121212;

$primary-color: $_eucalyptus;
$primary-dark-color: $_green-pea;

$background-dark-color: $_baltic-sea;
$background-darker-color: $_cod-gray;
$background-light-color: $_alabaster;
$background-lighter-color: $_white;

$text-color: $_cod-gray;
$text-muted-color: $_dove-gray;
$text-inverted-color: $_white;

$border-color: $_dove-gray;
$border-inverted-color: $_gallery;
