$font-family: "Aleo", "Open Sans", sans-serif;

$_fs-9: 8px;
$_fs-12: 12px;
$_fs-14: 16px;
$_fs-19: 19px;
$_fs-25: 25px;
$_fs-33: 33px;
$_fs-44: 44px;

// Typography applications
$fs-pill: $_fs-9;
$fs-btn: $_fs-12;
$fs-footer: $_fs-12;
$fs-menu: $_fs-14;
$fs-body: $_fs-14;
$fs-lead: $_fs-19;
$fs-title-sm: $_fs-19;
$fs-title-s: $_fs-25;
$fs-title-m: $_fs-33;
$fs-title-l: $_fs-44;
